* {
   
    margin: 0;
    padding: 0;
}
main{
    width: 100%;
   
   background:  radial-gradient(circle, rgba(229,174,238,1) 0%, rgba(1,111,240,1) 100%);
}

.title {
    position: absolute;
    display: inline-block;
    left: 20%;
    font-size: 75px;
    font-family: fantasy;

}

.rule2{
    
    text-align: center;
}
.rulet{
   text-align: center;
}
.rule1{
    text-align: center;
}


.fig {
    display: inline-block;
    object-fit: contain;
    border-bottom: 1px solid #aa2289;
}
.rulep{
    display: flex;
    align-content: space-around;
    
}
.IFH{
    display: inline;
    
    text-align: center;
}
h2, p{
    margin: 5px;
    display: flex;
    justify-content: center;
   
}
.contactl{
    display: flex;
    justify-content: space-around;
}
.figure2 {
    width: 100%;
    height: 30%;
}

.logo-content {
    display: flex;
    position: absolute;
}

.logo {
  
    align-content: first baseline;
    width:10%
 
   
}

.nav {
    
    height: 25px;
    background: radial-gradient(circle, rgb(74, 71, 71) 25%, rgba(0, 0, 0, 0.688) 100%);
}

.nav-a {
    position: relative;
    display: flex;
    justify-content: flex-end;
   
}



.nons {
    padding: 10px;
    margin-left: 15px;
    border-radius: 15px;
    background: radial-gradient(circle, rgba(138,121,181,1) 25%, rgba(125,77,77,1) 100%);
}




.events {
    width: 20%;
    height: 1000px;
    border-right: 5px double black;
    background: #238565;
    
}
.page{
    width: 75%;
    padding-left: 20px;
    height: 700px;
    justify-content: space-between;
    
}
.table{
    display: flex;
    justify-content: center;
}

.listp p{
    text-align: start;
}
.events h2 {
    position: relative;
    color: white;
    background-color: black;
    width: 118%;
    right: 17%;
    text-align: center;
}
.rights{
    display: inline-block;
    font-size: 25px;
    font-family: sans-serif;
    margin-top: 25px;
    margin-left: 5%;
}
.contact{
    display: inline-block;
    position: relative;
    left: 25%;
    font-size: 25px;
    font-family: sans-serif;
}
.list{
     display: flex;
 }
 .article{
     width: 75%;
     position: relative;
     top: 25%;
     text-align: justify;
     text-indent: 15px;
     margin-bottom: 15px;
    
 }


.title {
    animation-duration: 3s;
    animation-name: slidein;
}
.tit{
    text-align: center;
}
.form{
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 10px;
   }
 .form h2{
    text-align: center;
 }
 .submit{
    position: relative;
    padding: 15px;
    border-radius: 10px;
    background: transparent;
    left: 50%;
 }


@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.nav-a {
    animation-duration: 4s;
    animation-name: rebote;
}

@keyframes rebote {

    from {
        scale: 0;
    }

    to {
        scale: 1;
    }

}

.logo {
    animation-duration: 5s;
    animation-name: zoom;
}

@keyframes zoom {

    from {
        transform: rotate(0deg);
        width: 0%;

    }

    to {
        transform: rotate(360deg);
        width: 10%;
    }

}
ul:hover{
    color: white;
   background: black;
}
.page {
    animation-duration: 3s;
    animation-name: zoom2;
}

@keyframes zoom2 {
    from {
        transform: scale(0);
        width: 0%
    }

    to {
        transform: scale(1);
        width: 75%;
    }
}

.nons:hover {
    animation-duration: 3s;
    animation-name: tira;
}

@keyframes tira {
    from {
        background: radial-gradient(circle, rgba(138,121,181,1) 25%, rgba(125,77,77,1) 100%);
        border: 0.5px solid;
    }

    to {
       background:   radial-gradient(circle, rgb(25, 22, 196) 25%, rgb(229, 22, 191) 100%);
       color: chartreuse;
       border: 4px solid;
}
}